.banner-2 {
    background-image: url(../img/banner-2.jpg);
    background-position: center top;
}

.banner-3 {
    background-image: url(../img/banner-3.jpg);
    background-position: center top;
}

.contact-container {
    min-height: 700px;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    border-top: 5px solid black;
    padding: 1% 0%;
}